* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

.light-theme {
  --background-primary: #d0d8ff;
}

.dark-theme {
  --background-primary: #30385f;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
